<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>FoleyBox</title>
  <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
</head>
<body dropzone="all">

  <div ng-controller="SoundController">
    <div>Search: <input ng-model="query"></div>
    <div>
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="dateAdded">Newest</option>
      </select>
    </div>
    <ul>
      <li ng-repeat="sound in sounds | filter:query | orderBy:orderProp" draggable="true">
        {{sound.name}}
        <p>{{sound.snippet}}</p>
        <audio controls>
          <source ng-src="{{sound.url}}">
        </audio>
      </li>
    </ul>

  </div>

  <!-- Scripts -->
  <!-- bower:js -->
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  <!-- endbower -->
  <script src="js/database.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/main.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
