<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>FoleyBox</title>
  <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/semantic.css">
</head>
<body dropzone="all">

  <div ng-controller="SoundController">
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <input ng-model="query" type="search" class="form-control input-lg" placeholder="Search..." title="Search your FoleyBox by name, comment, tag, file location.">
        </div>
        <div class="col-xs-4">
          <select ng-model="orderProp" class="form-control input-lg">
            <option value="name">Alphabetical</option>
            <option value="dateAdded">Newest</option>
          </select>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sound in sounds | filter:query | orderBy:orderProp" draggable="true">
                <td>{{sound.name}}</td>
                <td>{{sound.snippet}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <!-- bower:js -->
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  <!-- endbower -->
  <script src="lib/semantic-ui/dist/semantic.js"></script>
  <script src="js/database.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/main.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
